<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>13F49942-84FB-4AE7-AB90-05EED7F7AA96</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>491A9C40-1D29-44C6-B1F9-0BA0356E9BB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2027E99A-9FDA-4D62-BC52-6AC6B1E9F233</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DB349B1-18DD-454B-B551-EE42CFFCCE53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42599974-CC18-4EF7-AA02-809EBCEE2D73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42599974-CC18-4EF7-AA02-809EBCEE2D73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42FD60E0-306C-4664-A8CD-5ED2715435A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42FD60E0-306C-4664-A8CD-5ED2715435A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C8C986A-648C-46A7-8C2C-952ED00EE9A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>491A9C40-1D29-44C6-B1F9-0BA0356E9BB2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51AC6490-A972-4831-9DE1-8F7FC8CC0993</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4ED85703-AD86-48BB-86B9-CC8C2208399A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2027E99A-9FDA-4D62-BC52-6AC6B1E9F233</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51AC6490-A972-4831-9DE1-8F7FC8CC0993</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4ED85703-AD86-48BB-86B9-CC8C2208399A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A6C2F66A-5AC0-4D9B-9DE4-49AE432DC9C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C81EF2F-A6CF-473A-88B7-D7E1AD356A52</key>
		<array/>
		<key>A6C2F66A-5AC0-4D9B-9DE4-49AE432DC9C0</key>
		<array/>
		<key>B1E36E28-9299-4180-9022-B0B3E25757E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B72E60D2-0E74-41B4-8C77-A6EE6846266D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B72E60D2-0E74-41B4-8C77-A6EE6846266D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC5E5282-D2E2-4839-887F-79897E561F8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2C1BBA3-99D5-4DAD-B72E-636483047D75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C81EF2F-A6CF-473A-88B7-D7E1AD356A52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>13F49942-84FB-4AE7-AB90-05EED7F7AA96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC5E5282-D2E2-4839-887F-79897E561F8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2C1BBA3-99D5-4DAD-B72E-636483047D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kai Brune</string>
	<key>description</key>
	<string>Share current Spotify Track via Apple Music</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>SAM - Share Apple Music</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Brave Browser"
	set windowList to every tab of every window whose URL starts with "https://music.apple.com/"
	repeat with tabList in windowList
		set tabList to tabList as any
		repeat with tabItr in tabList
			set tabItr to tabItr as any
			delete tabItr
		end repeat
	end repeat
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>42FD60E0-306C-4664-A8CD-5ED2715435A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Closing tabs next...</string>
				<key>title</key>
				<string>Apple Music link copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4DB349B1-18DD-454B-B551-EE42CFFCCE53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

sid=$(echo $query | sed "s/spotify:track://")
echo -n "https://open.spotify.com/track/$sid"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EC5E5282-D2E2-4839-887F-79897E561F8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sam</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Share current Spotify Track via Apple Music</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B1E36E28-9299-4180-9022-B0B3E25757E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Spotify"		get spotify url of current track	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>B72E60D2-0E74-41B4-8C77-A6EE6846266D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied Apple Music sharelink to clipboard!</string>
				<key>title</key>
				<string>Success!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8C8C986A-648C-46A7-8C2C-952ED00EE9A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Opening songwhip next...</string>
				<key>title</key>
				<string>Spotify URL fetched!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9C81EF2F-A6CF-473A-88B7-D7E1AD356A52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>4ED85703-AD86-48BB-86B9-CC8C2208399A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Brave Browser"
	set theURL to the URL of the active tab of window 1
	set the clipboard to theURL
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2027E99A-9FDA-4D62-BC52-6AC6B1E9F233</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>42599974-CC18-4EF7-AA02-809EBCEE2D73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://songwhip.com/convert?url={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E2C1BBA3-99D5-4DAD-B72E-636483047D75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>51AC6490-A972-4831-9DE1-8F7FC8CC0993</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Brave Browser"
	set windowList to every tab of every window whose URL starts with "https://songwhip.com/"
	repeat with tabList in windowList
		set tabList to tabList as any
		repeat with tabItr in tabList
			set tabItr to tabItr as any
			delete tabItr
		end repeat
	end repeat
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A6C2F66A-5AC0-4D9B-9DE4-49AE432DC9C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>5</integer>
				<key>keychar</key>
				<string>⇥</string>
				<key>keycode</key>
				<integer>48</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>491A9C40-1D29-44C6-B1F9-0BA0356E9BB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>13F49942-84FB-4AE7-AB90-05EED7F7AA96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Built a workflow that pulls the current track from spotify and then automatically converts the link in the browser to an Apple Music link and copies it to the clipboard. Unfortunately there is no free public api for converting. You might adjust the delays depending on your internet loading speeds and browser response times.</string>
	<key>uidata</key>
	<dict>
		<key>13F49942-84FB-4AE7-AB90-05EED7F7AA96</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>2027E99A-9FDA-4D62-BC52-6AC6B1E9F233</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>42599974-CC18-4EF7-AA02-809EBCEE2D73</key>
		<dict>
			<key>xpos</key>
			<integer>1260</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>42FD60E0-306C-4664-A8CD-5ED2715435A1</key>
		<dict>
			<key>xpos</key>
			<integer>1290</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>491A9C40-1D29-44C6-B1F9-0BA0356E9BB2</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>4DB349B1-18DD-454B-B551-EE42CFFCCE53</key>
		<dict>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>4ED85703-AD86-48BB-86B9-CC8C2208399A</key>
		<dict>
			<key>xpos</key>
			<integer>985</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>51AC6490-A972-4831-9DE1-8F7FC8CC0993</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>8C8C986A-648C-46A7-8C2C-952ED00EE9A8</key>
		<dict>
			<key>xpos</key>
			<integer>1460</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>9C81EF2F-A6CF-473A-88B7-D7E1AD356A52</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>A6C2F66A-5AC0-4D9B-9DE4-49AE432DC9C0</key>
		<dict>
			<key>xpos</key>
			<integer>1095</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>B1E36E28-9299-4180-9022-B0B3E25757E3</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>B72E60D2-0E74-41B4-8C77-A6EE6846266D</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>E2C1BBA3-99D5-4DAD-B72E-636483047D75</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>EC5E5282-D2E2-4839-887F-79897E561F8B</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/kaibrune/alfred-sam</string>
</dict>
</plist>
